<p>We are extremely happy that you are making this donation through Focus Ireland. Please fill in the below details</p>
 <form>
     <form action="thankyous/show.html.erb">
      <input type="text" class="form-control"  name="name" placeholder="Name on the Card" required><br>
      <input type="text" class="form-control" name="email" placeholder="Email Address" required><br>
      <input type="text" class="form-control"  name="cc" placeholder="Card Number" required>
      <input type="date" class="form-control"  name="date" placeholder="Date" required>
      <input type="text" class="form-control" name="ccv" placeholder="CCV code" required>
   
      <input type="Submit">
  <div>
		<h5>Price: €<%= "#{current_order.subtotal}"%></h5>

		</div>
		</form>

	     <div>
	      <p>We appreciate your kind donation! Click pay now to complete your order </p>
	 <%= button_to 'Pay Now', thankyous_path, :method => :get %>

	  </div>