<p>We are extremely happy that you are making this doation through Focus Ireland. Please fill in the below details</p>
 <form>
     <form action="thankyous/show.html.erb">
      <input type="text" class="form-control"  name="name" placeholder="Name" required>
      <input type="text" class="form-control"  name="phone" placeholder="Telephone" required>
      <input type="text" class="form-control" name="email" placeholder="Email" required>
      
      <input type="Submit">
  <div>
		<h5>Price: €<%= "#{current_order.subtotal}"%></h5>

		</div>
		</form>

	     <div>
	      <p>We appreciate your kind donation! Click pay now to complete your order </p>
	 <%= button_to 'Pay Now', thankyous_path, :method => :get %>

	  </div>