<!DOCTYPE html>
<html>
<h1>Welcome to the Focus Ireland "Online Shoebox Appeal"</h1>
    <head>
        
    </head>
<body>
    <p>Focus Ireland is Ireland's leading non-profit organization that helps in preventing people from becoming, remaining or returning to homelessness. We are driven by the fundamental belief that homelessness is wrong and try to help in any ways possible to prevent or ease the situation for people living in these conditions.</p>
    
    <p>After the great success of our annual <a href="https://www.focusireland.ie/press/focus-ireland-launches-christmas-campaign/" target="_blank">Focus Ireland Christmas Campaign</a>, we're now launching the Shoebox Appeal initiative online and enable our charitable doners to create their individual and personalized Shoebox to support kids, women and men that suffer from homelessness throughout the year. Login to your personal account and create your Shoebox now in our <a href="/products">Products</a> section.</p>
    <br>
    <div class="yellow-surrounding-box">
        <p style text-align: center;><i>Get a glimpse at our last Christmas Campaign below: </i></p>
    <div class="video-box">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/n4tZPoOIKcg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <p>You can also read about the official press relase of our Christmas campaign in this link <a href='https://www.focusireland.ie/press/focus-ireland-launches-christmas-campaign/' target='blank'>here</a>.</a></a></p>
    </div>
    </div>
    
</body>
</html>